<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{base.html}">
<head>
    <title>Address</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">Address</li>
    <li class="breadcrumb-item">Consult</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <a class="btn btn-primary m-1" th:href="${'/addresses/edit/'+ address.id}">Edit</a>
    <table class="table">
        <tr>
            <td>Postal code:</td>
            <td><span th:text="*{address.postalCode}"></span></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><span th:text="*{address.address}"></span></td>
        </tr>
        <tr>
            <td>Apartment:</td>
            <td><span th:text="*{address.apartment}"></span></td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Apartment</th>
        </tr>
        <tr th:each="e : ${address.contacts}">
            <td th:text="${e.lastName}"></td>
            <td th:text="${e.firstName}"></td>
        </tr>
    </table>
</div>
</html>