<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{base.html}">
<head>
    <title>Contacts</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">Contacts</li>
    <li class="breadcrumb-item">List</li>
</th:block>
<div layout:fragment="page_content" id="page_content">

    <a class="btn btn-primary m-1" href="/contacts/edit">Add</a>

    <table class="table">
        <tr><th>First Name</th><th>Last Name</th><th>Options</th></tr>
        <tr th:each="e : ${contacts}">
            <td><a th:href="${'/contacts/' + e.id}"><span th:text="${e.lastName}"></span></a></td><td th:text="${e.firstName}"/><td><a class="btn btn-secondary ml-1 mr-1" th:href="${'/contacts/edit/' + e.id}">Edit</a><form style="display: inline-block" th:action="${'/contacts/delete/' + e.id}" method="POST"><button class="btn btn-warning ml-1 mr-1" type="submit">Delete</button></form></td>
        </tr>
    </table>
</div>
</html>