<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{base.html}">

<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">Email</li>
    <li class="breadcrumb-item">Edit</li>
</th:block>
<div layout:fragment="page_content" id="page_content">

    <form action="#" th:action="@{/emails/edit}" th:object="${email}" method="post">
        <table>
            <input type="hidden" th:field="*{id}" />
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}" /></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First name Error</td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td><select name="contactId" >
                    <option th:each="e : ${contacts}" th:value="${e.id}" th:text="${e.lastName + ' ' + e.firstName}"></option>
                </select></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
</html>