<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{base.html}">

<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">Contacts</li>
    <li class="breadcrumb-item">Edit</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <form action="#" th:action="@{/contacts/edit}" th:object="${contact}" method="post">
        <table>
            <input type="hidden" th:field="*{id}" />
            <tr>
                <td>First name:</td>
                <td><input type="text" th:field="*{firstName}" /></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" th:field="*{lastName}" /></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</td>
            </tr>
            <tr>
                <td>Addresses:</td>
                <td><select name="addressesIds" multiple>
                    <option th:each="e : ${addresses}" th:value="${e.id}" th:text="${e.postalCode + ' - ' + e.address + ' - ' + e.apartment}" th:if="${contact.addresses.contains(e)}" selected></option>
                    <option th:each="e : ${addresses}" th:value="${e.id}" th:text="${e.postalCode + ' - ' + e.address + ' - ' + e.apartment}" th:if="${!contact.addresses.contains(e)}"></option>
                </select></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
</html>